h1, h2, h3 {
	font-family: 'Gothic A1', sans-serif;
}
 
h2 {
	margin-bottom: 40px;
}

.paragraphs {
	margin: 20px;
}

.btn-primary {
	border: none;
	background-image: none;
	background-color: #1060EA;
	padding: 10px 20px 10px 20px;
}

.profile-pic {
	width: 50%;
	border: none;
	outline: none;
}

.jumbotron {
	background-color: white;
}

@media only screen and (max-width: 760px) {
	.hide-people {
		display: none;
	}
}

.why-container {
	margin-top: 80px;
}

.icon {
	font-size: 100px;

}

.img-thumbnail {
	padding: 0;
	border-radius: 0;
}

.col-sm-4 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.col-xs-12 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.spanOne {
	height: 212px;
	width: 212px;
	background-color: lightgreen;
}

.callAction {
	background-color: #DCDCDC;
	height: 200px;
	margin-top: 40px;
}
