.resume-header {
	margin-top: 40px;
}

.well {
	background-image: none;
}

.email-styling {
	margin-bottom: 30px;
}

.overview {
	color: #00B200;
}

.goals {
	color: #4682B4;
}

.workplace {
	color: #5E2D79;
}

.personality {
	color: #7E7E7E;
}

.well-icon {
	margin-right: 10px;
}